:root {
  --kolibry-code-background: rgba(125,125,125,0.03);
  --kolibry-code-font-family: theme('fontFamily.mono');
  --kolibry-code-padding: 8px;
  --kolibry-code-font-size: 12px;
  --kolibry-code-line-height: 18px;
  --kolibry-code-radius: 4px;
  --kolibry-code-margin: 4px 0;

  --kolibry-slide-container-background: black;
  --kolibry-controls-foreground: white;
}
